@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Fabrik;
  src: url('/fonts/fabrik.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Fundamental Brigade';
  src: url('/fonts/Fundamental_Brigade.woff2') format('woff2');
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #dd8d0e;
  --secondary-color: #009599;
  --tertiary-color: #33006c;
  --border-color: #472f12;
  --background-color: #fff;
  --space-xs: 0.5rem;
  --space-s: 1rem;
  --space-m: 2rem;
}

:target {
  scroll-margin-block: 1em;
}

:where(h1, h2, h3, h4) {
  text-wrap: balance;
}

:where(img) {
  max-width: 100%;
  height: auto;
  margin: auto;
}

:where(input, button, textarea, select) {
  font: inherit;
}

:where(p, figcaption, blockquote, dl, dd, li) {
  text-wrap: pretty;
}

:where(ul, ol) {
  margin: 0;
  padding: 0;
  list-style-type: '';
}

@media (prefers-reduced-motion: reduce) {
  :root {
    --duration-link: 5ms;
    --duration-link-hover: 5ms;
  }
}

html {
  text-size-adjust: none;
}

html.dark {
  --primary-dark-color: #fff;
  --secondary-dark-color: #009599;
  --tertiary-dark-color: #33006c;
  --border-dark-color: #472f12;
  --background-dark-color: #33006c;

  background-color: var(--background-dark-color);
  color: var(--primary-dark-color);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  font-family: 'Fundamental Brigade', sans-serif;
}

nav {
  position: fixed;
  z-index: 1500;
  top: 0;
  right: -60vw;
  opacity: 0;
  width: 0;
  height: 100vh;
  transition: all 0.8s;
}

header {
  box-shadow: 0 5px 10px 0 #aaa;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 12;
  width: 100%;
  background: #fff;
  color: #000;
}

main {
  display: grid;
  flex-grow: 1;
  grid-gap: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 6rem;
}

h1 {
  font-size: 2.25rem;
  font-family: Fabrik, serif;
}

h2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

h2 strong {
  color: var(--primary-color);
  display: block;
  font-size: 75%;
  opacity: 0.75;
}

h3 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.arealist-description {
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

.about {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.rounded {
  border-radius: 9999px;
}

.background {
  position: fixed;
  z-index: 1000;
  top: 1.5rem;
  right: 2.5vw;
  width: 2rem;
  height: 2rem;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  background-color: var(--primary-color);
  border-radius: 50%;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon,
.icon::before,
.icon::after {
  display: inline-block;
  width: 2rem;
  height: 3px;
  background-color: black;
}

.icon::after {
  top: 0.8rem;
}

.icon::before {
  top: -0.8rem;
}

.icon::before,
.icon::after {
  content: '';
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.button {
  position: fixed;
  z-index: 2000;
  right: 2vw;
  width: 4rem;
  height: 4rem;
  background-color: var(--secondary-color);
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
}

.button:hover .icon::after {
  top: 1rem;
}

.button:hover .icon::before {
  top: -1rem;
}

/* hamburger */
.checkbox {
  display: none;
}

.checkbox:checked + .button .icon {
  background-color: transparent;
}

.checkbox:checked + .button .icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.checkbox:checked + .button .icon::before {
  top: 0;
  transform: rotate(135deg);
}

.checkbox:checked ~ .background {
  transform: scale(90);
}

.hamburger {
  width: 4rem;
  height: 4rem;
  cursor: pointer;
}

div:has(.checkbox:checked) ~ nav {
  right: 0;
  opacity: 1;
  width: 100%;
}

.dark .nav-links a {
  color: var(--primary-dark-color);
}

.divider {
  opacity: 0.5;
  width: 16rem;
  height: 0.25rem;
  margin-top: 0;
  margin-bottom: 2rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: var(--primary-color);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.item {
  margin: 1rem;
  border-top-width: 1px;
}

.link:hover,
.link:active {
  cursor: pointer;
  color: var(--secondary-color);
}

.link:link,
.link:visited {
  display: block;
  padding: 0.5rem;
  transition: all 0.4s;
  font-size: 2rem;
}

nav ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  list-style: none;
}

.logo {
  width: 6rem;
  height: 6rem;
  transition: all 0.4s;
}

:where(header.small) a .logo {
  width: 5rem;
  height: 5rem;
}

.name {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 2rem;
}

.social {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  height: 2rem;
  margin-top: 2rem;
}
