@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Fabrik";
    src: url('/fonts/fabrik.woff2') format('woff2');
    fontdisplay: "swap";
  }
  @font-face {
    font-family: "Fundamental Brigade";
    fontdisplay: "swap";
    src: url('/fonts/Fundamental_Brigade.woff2') format('woff2');
  }

  body {
    font-family: "Fundamental Brigade";
  }

  h1,
  h2 {
    font-family: "Fabrik";
  }
}
