@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Fabrik";
    src: url('/fonts/fabrik.woff2') format('woff2');
    font-display: swap;
  }
  @font-face {
    font-family: "Fundamental Brigade";
    src: url('/fonts/Fundamental_Brigade.woff2') format('woff2');
    font-display: swap;
  }

  body {
    font-family: "Fundamental Brigade";
  }

  h1,
  h2 {
    font-family: "Fabrik";
  }
}

/* Tokens */
:root {
  --primary-color: #dd8d0e;
  --primary-dark-color: #ffffff;
  --secondary-color: #009599;
  --secondary-dark-color: #009599;
  --tertiary-color: #33006c;
  --tertiary-dark-color: #33006c;
  --border-color: #472f12;
  --border-dark-color: #472f12;
  --background-color: #ffffff;
  --background-dark-color: #33006c;
	--space-xs: 0.5rem;
	--space-s: 1rem;
	--space-m: 2rem;

	--bg-light: white;

	--duration-link: 100ms;
	--duration-link-hover: 75ms;
}

* {
	box-sizing: border-box;
}

*::before,
*::after {
	box-sizing: inherit;
}

html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

html.dark {
  background-color: var(--background-dark-color);
  color: var(--primary-dark-color);
}

.dark .nav-links a {
  color: var(--primary-dark-color);
}

body {
	min-height: 100svh;
}

body,
:where(h1,h2, h3, h4, p, figure, blockquote, dl, dd) {
	margin: 0;
}

header {
  display: flex; 
  padding-left: 1rem;
  padding-right: 1rem; 
  flex-wrap: wrap; 
  align-items: center; 
}

h2 {
  color: var(--primary-color);
  font-size: 1.25rem;
  line-height: 1.75rem;
}

h3 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.divider {
  background-color: var(--primary-color);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem; 
  height: 0.25rem; 
  margin-bottom: 2rem; 
  margin-top: 0;
  opacity: 0.5; 
  padding-bottom: 0; 
  padding-top: 0;
  width: 16rem; 
}

.logo {
  width: 6rem;
  height: 6rem;
}

.name {
  font-size: 1.125rem;
  font-weight: 700; 
  line-height: 2rem;
}

.arealist-description {
  margin-top: 1rem; 
  margin-left: 1rem; 
  font-size: 1rem;
  line-height: 1.5rem; 
  font-weight: 500; 
}

.social {
  display: flex; 
  margin-top: 2rem; 
  align-items: center; 
  height: 2rem; 
  column-gap: 0.5rem; 
}

footer {
  display: flex;
  gap: 1rem;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  margin-bottom: 2rem;
}

:where(ul, ol) {
	list-style-type: '';
	margin: 0;
	padding: 0
}

:where(input, button, textarea, select) {
	font: inherit;
}

:where(h1, h2, h3, h4) {
	text-wrap: balance;
}

:where(p, figcaption, blockquote, dl, dd, li) {
	text-wrap: pretty;
}

:where(img) {
	max-width: 100%;
	height: auto;
}

:target {
	scroll-margin-block: 1em;
}

@media (prefers-reduced-motion: reduce) {
:root {
		--duration-link: 5ms;
		--duration-link-hover: 5ms;
	}
}

body {
	display: flex;
	flex-direction: column;
}

main {
	flex-grow: 1;
	margin: 2rem;
  display: grid;
  grid-gap: 2rem;
}

/* hamburger */
.checkbox {
  display: none;
}

.button {
  background-color: var(--secondary-color);
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: 2vh; 
  right: 2vw; 
  z-index: 2000;
  text-align: center; 
  cursor: pointer;
}

.background {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: fixed;
  top: 2.5vh; 
  right: 2.5vw; 
  background-color: var(--primary-color);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: -60vw;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s;
}

.list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.item {
  margin: 1rem;
  border-top-width: 1px;
}

.link:link,
.link:visited {
  padding: .5rem;
  display: block;
  font-size: 2rem;
  transition: all 0.4s;
}

.link:hover,
.link:active {
  color: var(--secondary-color);
  cursor: pointer;
}

/* functionality */
.checkbox:checked ~ .background {
  transform: scale(80);
}
.checkbox:checked ~ .nav {
  opacity: 1;
  width: 100%;
  right: 0;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon,
.icon::before,
.icon::after {
  width: 2rem;
  height: 3px;
  background-color: black;
  display: inline-block;
}

.icon::before,
.icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.icon::before {
  top: -0.8rem;
}
.icon::after {
  top: 0.8rem;
}

.button:hover icon:before {
  top: -1rem;
}
.button:hover icon::after {
  top: 1rem;
}

.checkbox:checked + .button .icon {
  background-color: transparent;
}

.checkbox:checked + .button .icon::before {
  top: 0;
  transform: rotate(135deg);
}
.checkbox:checked + .button .icon::after {
  top: 0;
  transform: rotate(-135deg);
}
