---
import Header from '@components/Header.astro'
import Html from '@components/Html.astro'
import { getLocalizedHref } from '@i18n/utilities'
import { uiStrings } from '@i18n/uiStrings'
const locale = Astro.currentLocale
const title = uiStrings.pageNotFoundHeading[locale]
---

<Html frontmatter={{ title, description: title }}>
  <Header />
  <main id='main'>
    <article class='prose dark:prose-invert'>
      <h1 lang={locale}>
        {title}
      </h1>
      <a
        href={getLocalizedHref(Astro.currentLocale, '/')}
        rel='home'
        aria-label='Homepage'
      >
        <p lang={locale}>
          {uiStrings.pageNotFoundBody[locale]}
        </p>
      </a>
      <slot />
    </article>
  </main>
</Html>
