---
import { uiStrings } from '@i18n/uiStrings'
import { area, getFocusPath } from '@src/utilities/area'
import Caption from './Caption.astro'
const title = uiStrings.areaTitle[Astro.currentLocale]
const subtitle = uiStrings.areaSubtitle[Astro.currentLocale]
---

<section>
  <Caption title={title} subtitle={subtitle} />
  <ul>
    {
      area.map((focus) => (
        <li>
          <div class='bg-secondary rounded-full absolute mt-1 -ml-2 h-10 w-10' />
          <h3 class='z-10'>
            <a href={getFocusPath(Astro.currentLocale, focus.id)}>
              {focus.name}
            </a>
          </h3>
          <p class='m-4 md:w-2/3'>{focus.description[Astro.currentLocale]}</p>
        </li>
      ))
    }
  </ul>
</section>
