---
import type { HTMLAttributes } from "astro/types"

type AnchorProps = HTMLAttributes<"a"> & { type?: never }
type ButtonProps = HTMLAttributes<"button"> & { href?: never }

type Props = ButtonProps | AnchorProps

const { href, ...rest } = Astro.props
---

{
  href ? (
    <a href={href} {...rest}><slot /></a>
  ) : (
    <button {...rest}><slot /></button>
  )
}