---
import Project from '@components/Project.astro'
import { uiStrings } from '@i18n/uiStrings'
import getPublishedPosts from '@utilities/getPublishedPosts'
import Caption from './Caption.astro'
import AllProjects from './AllProjects.astro'

const title = uiStrings.projectTitle[Astro.currentLocale]
const subtitle = uiStrings.projectSubtitle[Astro.currentLocale]

const collection = 'projects'

const posts = await getPublishedPosts(Astro.currentLocale, collection)
const featuredPosts = posts.filter(({ data }) => data.isFeatured)
---

<section>
  <Caption title={title} subtitle={subtitle} />
  <div class='text-center'>
    {
      featuredPosts?.length > 0 && (
        <ul>
          {featuredPosts.map((post) => (
            <Project post={post} collection={collection} />
          ))}
          <AllProjects />
        </ul>
      )
    }
  </div>
</section>
