---
import Author from "./Author.astro"
import Divider from "./Divider.astro"
import Logo from "./Logo.astro"
import SocialLinks from "./SocialLinks.astro"
---

<div class="flex flex-col items-center justify-center">
  <Divider />
  <Logo/>
  <SocialLinks/>
  <Author/>
</div>
