<div class="w-12 h-12 cursor-pointer">
  <input type="checkbox" id="navigation-toggle" class="checkbox" />
  <label for="navigation-toggle" class="button bg-secondary dark:bg-primary">
    <span class="icon">&nbsp;</span>
  </label>
  <div class="background bg-primary">&nbsp;</div>
</div>
