<div class="hamburger">
  <input type="checkbox" id="navigation-toggle" class="checkbox" />
  <label for="navigation-toggle" class="button">
    <span class="icon">&nbsp;</span>
  </label>
  <div class="background">&nbsp;</div>
</div>
