---
import { Image } from 'astro:assets'
import { siteTitle } from '@src/consts'
import logo from '../../public/favicon.svg'
import { getLocalizedHref } from '@i18n/utilities'
const locale = Astro.currentLocale
---

<a href={getLocalizedHref(locale, '/')}>
  <div
    class='bg-primary rounded-full absolute -z-50 transition-all top-1 left-1 h-16 w-16'
  >
  </div>
  <Image
    src={logo}
    alt={siteTitle}
    class='w-24 h-24 transition-all duration-700 ml-2'
  />
</a>
