---
import Head from '@components/Head.astro'
import type { CommonFrontmatter } from '@src/types'
interface Props {
  frontmatter: CommonFrontmatter
  includeCanonicalMeta?: boolean
}

const { frontmatter, includeCanonicalMeta = true } = Astro.props
const lang = Astro.currentLocale
---

<!doctype html>
<html lang={lang}>
  <head>
    <Head {frontmatter} {includeCanonicalMeta}>
      <slot name='head' />
    </Head>
  </head>
  <body class='bg-white dark:bg-tertiary dark:text-white'>
    <slot />
  </body>
</html>
