---
import { Icon } from 'astro-icon/components'
import { getLocalizedHref } from '@i18n/utilities'
const locale = Astro.currentLocale
---

<a href={getLocalizedHref(locale, '/')}>
  <Icon name='logo' class='w-24 h-24 ml-2' />
</a>
