---
import { defaultLocale, fallback } from '@i18n/i18n'
import { headerMenu } from '@src/header'
import type { navigationItem } from '@src/header'
import HeaderLink from './HeaderLink.astro'

const menuLocale: string = headerMenu[Astro.currentLocale]
  ? Astro.currentLocale
  : fallback[Astro.currentLocale] || defaultLocale
const headerMenuItems: navigationItem[] = headerMenu[menuLocale].items
---

<nav>
  <ul>
    {
      headerMenuItems.map(item => (
        <HeaderLink href={item.path}>{item.label}</HeaderLink>
      ))
    }
    <slot />
  </ul>
</nav>
