---
import { getPostDescription } from "@utilities/getPageDescription"
import { getRelativePostPath } from "@utilities/getPostPath"

const { collection, post } = Astro.props
---

<li>
  <a href={`${getRelativePostPath(Astro.currentLocale, collection, post.slug)}`}>
    <h4>{post.data.title}</h4>
    <img width={720} height={360} src={post.data.previewImage} alt="" />
  </a>
  <blockquote cite={`${getRelativePostPath(Astro.currentLocale, collection, post.slug)}`}>
    {getPostDescription(post)}
  </blockquote>
</li>
