---
import type { CollectionEntry } from 'astro:content'

type Props = { project: CollectionEntry<'projects'> }

const { project } = Astro.props
const { title, description } = project.data
---

<a
  class="flex justify-between items-start gap-8 mb-10"
  href={`/projects/${project.slug}/`}
>
  <div class="grow">
    <h3 class="text-xl">{title}</h3>
    {description && <div class="mt-1 text-sm">{description}</div>}
  </div>
</a>
