---
import { uiStrings } from '@i18n/uiStrings'
import { referencesData } from '@src/references'
import Caption from './Caption.astro'
const title = uiStrings.referencesTitle[Astro.currentLocale]
const subtitle = uiStrings.referencesSubtitle[Astro.currentLocale]
---

<section>
  <Caption title={title} subtitle={subtitle} />
  {
    referencesData.map((item) => (
      <div class='grid gap-4 p-4 border-secondary border-2 w-2/3 rounded-3xl even:place-self-end odd:place-self-start'>
        <p>{item.description[Astro.currentLocale]}</p>
        <p class='text-xs'>{item.author[Astro.currentLocale]}</p>
      </div>
    ))
  }
</section>
