---
import Divider from '@components/Divider.astro'
import PreviewPost from '@components/Post.astro'
import { uiStrings } from '@i18n/uiStrings'

const { posts } = Astro.props
const locale = Astro.currentLocale

const blogRelated = uiStrings.blogRelated[locale]
---

<Divider />
<h2>{blogRelated}</h2>
{
  posts.map((post: any) => (
    <PreviewPost collection='blog' post={post} isFeature={true} />
  ))
}
