---
import Divider from '@components/Divider.astro'
import type { PostProps } from '@src/types'
import PreviewPost from '@components/Post.astro'
import { uiStrings } from '@i18n/uiStrings'

interface Props {
  posts: PostProps[]
}

const { posts } = Astro.props
const locale = Astro.currentLocale

const blogRelated = uiStrings.blogRelated[locale]
---

<Divider />
<h2>{blogRelated}</h2>
{posts.map((post) => <PreviewPost collection="blog" post={post} isFeature />)}
