---
import type { TranslationLink } from './MainI18n.astro'

interface Props {
  translationLinks: TranslationLink[]
}

const { translationLinks } = Astro.props
---

<li
  class="w-1/2 m-auto [&:not(:last-child)]:border-tertiary [&:not(:last-child)]:dark:border-primary [&:not(:last-child)]:border-b-2"
>
  {
    translationLinks.map((translation) => (
      <a
        class="link hover:text-secondary active:text-secondary"
        href={translation.relativeURL}
        hreflang={translation.locale}
      >
        {translation.label}
      </a>
    ))
  }
</li>
