---
import type { TranslationLink } from "./MainI18n.astro"

interface Props {
  translationLinks: TranslationLink[]
}

const { translationLinks } = Astro.props
---
<li class="item">
  {translationLinks.map((translation) => (
    <a class="link" href={translation.relativeURL} hreflang={translation.locale}>
      {translation.label}
    </a>
  ))}
</li>
