---
import MainI18n from '@components/MainI18n.astro'
import Post from '@components/Post.astro'
import getPublishedPosts from '@utilities/getPublishedPosts'

const { frontmatter } = Astro.props
const title = frontmatter.title
const collection = frontmatter.collection

const posts = await getPublishedPosts(Astro.currentLocale, collection)
---

<MainI18n {frontmatter} collection='pages'>
  <main id='main'>
    <h1>{title}</h1>
    <slot />
    <ul>
      {posts.map((post) => <Post post={post} collection={collection} />)}
    </ul>
  </main>
</MainI18n>
