---
import Caption from '@components/Caption.astro'
import type { CommonFrontmatter } from '@src/types'
import type { Focus } from '@src/utilities/area'
import Page from '@layouts/Page.astro'
export interface FocusFrontmatter extends CommonFrontmatter {
  focus: Focus
}
interface Props {
  frontmatter: FocusFrontmatter
}
const { frontmatter } = Astro.props
const focus = frontmatter.focus
---

<Page {frontmatter}>
  <section>
    <Caption title={focus.name} />
    <p>{focus.description[Astro.currentLocale]}</p>
  </section>
</Page>
