---
import MainI18n from "@components/MainI18n.astro"
import type { CommonFrontmatter } from "@src/types"
interface Props {
  frontmatter: CommonFrontmatter
}

const { frontmatter } = Astro.props
---
<MainI18n {frontmatter} collection="pages">
  <main id="main" class="prose">
    <slot/>
  </main>
</MainI18n>
